.surah {
    position: relative;
    padding: 6em 1em 6em 1em;
    background-color: #010917;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url("../../public/img/16-sacred-symbols-MR9YMTh.png");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 1340px;
    margin-right: auto;
    margin-left: auto;
}
