.tabs {
    position: relative;
    padding: 6em 1em;
    background-color: #010917;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url("../../public/img/16-sacred-symbols-MR9YMTh.png");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 1340px;
    margin-right: auto;
    margin-left: auto;
}

.option {
    background-color: #021128;
    padding: 4em 3em;
    border-radius: 10px;
}

.button {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.3em;
    background-color: #f39632;
    color: white;
    border-radius: 10px;
    text-transform: capitalize;

    padding: 12px 24px;
    transition: 0.3s ease-in;
}

.button:hover{
    background-color: #010917;
    color: #f39632;
}

.active{
    background-color: #010917;
    color: #f39632;
}